*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 10px;
}

.container {
  background-color: #dadada;
  width: 100%;
  padding: 20px 0 20px 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 75%;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
}

.preview {
  margin: 5px 0 5px 0;
  width: 100%;
  padding: 10px 0 10px 10px;
  display: inline-block;
}

h2 {
  text-align: left;
  font-family: serif;
  text-transform: none;
  letter-spacing: normal;
}

@media screen and (min-width: 575px){
  .preview {
    margin: 5px;
    display: inline-block;
    width: 43%;
  }
}

.container {
  text-align: center;
}

@media screen and (min-width: 991px){
  .preview {
    margin: 1%;
    display: inline-block;
    width: 21%;
  }
}

.baku {
  background-image: url("../images/baku.jpg");
  height: 200px;
}

.london {
  background-image: url("../images/london.png");
  height: 200px;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  height: 200px;
}

.rome {
  background-image: url("../images/rome.jpg");
  height: 200px;
}
